@font-face{
	font-family: "Truth";
	src:url("../fonts/trud/Truth.ttf");
   }
@font-face{
    font-family: "Oswald-Light";
    src:url("../fonts/Oswald/Oswald-Light.ttf");
}

   
body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 8fr 1fr;
    background-color: #f2f2f2;
   
}

header{
    grid-area: header;
    
}

.menu{
    padding: 0;
    font-size: 2vw;
    font-family: "Truth";
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.menu>li{
    list-style: none;
    border-bottom: solid 2px black;
}

main{
    grid-area: main;
    margin:auto 10vw;
    background-color: #dbdbdb;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


#data1900{
    
}

.title1900{
    height: 13.5vw;
    background-image: url('../image/1900_title.svg');
    background-position: center center;
    background-size: 85% auto;
    background-repeat: no-repeat;
    
    
}




h1{
    letter-spacing: 0.3vw;
    font-size: 4vw;
    font-family: "Truth";
    text-align: center;
    margin: 0;
    padding: 0;
}

.titels_left_rigth{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    width: 60%;
    margin: 0 0 0 18% ;
    padding: 3.4vw 0 0 0;
}

.titels_left_rigth>li{
    list-style: none;
    margin: 0;
}


h2{
   
    font-family: "Truth";
    padding: 0;
    font-size: 2.5vw;
    text-align: center;
   
}

h3{
    font-family: "Truth";
    padding: 0 3vw 0 0;
    font-size: 3vw; 
    text-align: center;
}


.content{
    height: 27vw;
    background-image: url('../image/longliine.svg');
    background-position: center;
    background-size: 2% auto;
    background-repeat: no-repeat;
    font-family: "Oswald-Light";
}

.centr{
    text-align: center;
    margin: 0;
}

.second_text{
    position: absolute;
    left: 53vw;
    width: 30vw;
    display: inline;
    margin: 0;
    font-size: 1vw;
}


#data1914{

}

.title1914
{
    height: 11vw;
    background-image: url('../image/1914_title_1.svg');
    background-position: center center;
    background-size: 85% auto;
    background-repeat: no-repeat;
    
}

.titels_left_rigth_defolt{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    width: 68%;
    margin: 0 16% ;
    padding: 1vw 0 0 0;
}

.titels_left_rigth_defolt>li{
    list-style: none;
    margin: 0;
}


.titels_left_rigth_defolt>li>h2{
   
    font-family: "Truth";
    padding: 0;
    font-size: 1.7vw;
    text-align: center;
    padding: 1.5vw 0 0 0;
}

#data1917{

}

.title1917
{
    height: 11vw;
    background-image: url('../image/1917_title.svg');
    background-position: center center;
    background-size: 85% auto;
    background-repeat: no-repeat;
    
}



footer{
    grid-area: footer;
}