  
  
  
 @font-face{
	font-family: "Truth";
	src:url("../fonts/trud/Truth.ttf");
   }

   @font-face{
	font-family: "B52";
	src:url("../fonts/18976.ttf");
   }
@font-face{
    font-family: "Oswald-Light";
    src:url("../fonts/Oswald/Oswald-Light.ttf");
}

div{
    box-sizing: border-box;
}
   
body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 6vw 8fr 6vw;
    background-color: #f2f2f2;
    
   
}

header{
    grid-area: header;
    margin:auto 10vw;
    color: #292929;
}



/*
---------------------------------------------------------
MENU
---------------------------------------------------------
*/

.menu{
    padding: 0;
    font-size: 2vw;
    font-family: "Truth";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}

.menu>li{
    list-style: none; 

}

.menu>li>a{
    text-decoration: none;
    color: #717171;
    
    transition: 0.5s;
}
.active-menu-item{
    text-shadow: -2px 3px 1px #717171;
}

.menu>li>a:hover{
    text-shadow: -2px 3px 1px #717171;
}

main{
    grid-area: main;
    margin:auto 10vw;
    background-color: #dbdbdb;
    background-image: url(../image/textured_paper.png);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*
---------------------------------------------------------
H - загаловки
---------------------------------------------------------
*/

h1{
    letter-spacing: 0.3vw;
    font-size: 4vw;
    font-family: "Truth";
    text-align: center;
    margin: 1vw 0;
    padding: 0;
    color: #292929;
}

h2{
    color: #292929;
    font-family: "Truth";
    padding: 0;
    font-size: 2.5vw;
    text-align: center;
   
}

h3{
    font-family: "Truth";
    padding: 0 2.5vw 0 3vw;
    font-size: 1.5vw; 
    text-align: center;
}

h5{
    color: #797979;
    font-family: "Truth";
    padding: 0;
    margin: 2vw 0;
    font-size: 3vw;
    text-align: center;
}


/*
---------------------------------------------------------
MAIN - главный контейнер для контента
---------------------------------------------------------
*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
---------------------------------------------------------
SECTIONS AND DIV- БЛОКИ С КОНТЕНТОМ ТАЙМЛАЙНА
---------------------------------------------------------
*/


#data1900{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .title{
        width: 100%;
        height: 11vw;
        background-position: center center;
        background-size: 85% auto;
        background-repeat: no-repeat;
        display: flex;
        
    }
    .title1900{
        background-image: url('../image/1900.svg');
    }

        .titels_left_rigth_defolt{
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content:  space-around;   
            align-items: center; 
            width: 90%;
            margin: 0 auto;
        }

            .titels_left_rigth_defolt>li{
                text-decoration: none;
                list-style: none;
                width: 18vw;       
            }
                .left{
                    text-align: left !important;
                }

    .content{
        width: 100%;
        height: 29vw;
        background-image: url('../image/longline.svg');
        background-position: center;
        background-size: 5.2% auto;
        background-repeat: no-repeat;
        font-family: "Oswald-Light";
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        
        .left_sade.rigth_sade{
           
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
            .first_text{
                margin: 0 0 0 2vw;
                width: 28vw;
                z-index: 1;
                font-size: 1.3vw;
                text-align: justify;
            }

            .plusbackground{
                background-image: url('../image/soviet.png');
                background-position: left 28% top 20%;
                background-size: 35% auto;
                background-repeat: no-repeat;
                
                
            }

            .second_text{
                margin: 0 2vw 0 0;
                width: 28vw;
                text-align: justify;
                font-size: 1.3vw;
            }
                .centr{
                    text-align: center;
                    margin: 0;
                }



#data1914{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .title1914{
        background-image: url('../image/1914_title_1.svg');
    }

#data1917{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .title1917
    {
        background-image: url('../image/1917_title.svg');    
    }

#data1930{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    
    .title1930
    {
        background-image: url('../image/1930.svg');
    }

    #data1930>.content{
        background-image: url('../image/twoinone.svg');
    }


#data194145{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
    .title194145
    {
        background-image: url('../image/1941_45_title.svg'); 
    }

        .for_fishMap{
            background-image: url('../image/map_fon.png');
            background-size: 90% auto;
            background-position: center center;
            height: 27vw;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #data194145>.content{
            background-image: url('../image/lsingl_logline.svg');
            background-size: 2.2% auto;
        }

        .fishimg{
            background-image: url(../image/fish.png);
            background-repeat: no-repeat;
            background-position: 20% 65%;
            background-size: 20% auto;
        }

    iframe{
        width: 27vw;
        height: 15vw;
        border: solid 15px #999999;
        border-radius: 25px;
    }

#data1953{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
    
    .title1953{
        background-image: url('../image/1953_title.svg');
    }
    
    #data1953>.content{
        background-image: url('../image/longlongline_1.svg');
        background-size: 2.2% auto;
        height: 44.7vw;
    }
    
    
#data1991{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    }
    
      
      .title1991{
        background-image: url('../image/1991_title.svg');
        
        }
        
    #data1991>.content{
        background-image: url('../image/lastline.png');
        height: 5vw;
        background-size: 3% auto;
        margin: 0 0 2vw 0 ;
    }
    
      
      
      
    
    footer{
        grid-area: footer;
    }
    
/*
---------------------------------------------------------
SLAIDER - верстка слайдеров
---------------------------------------------------------
*/

.slider{
    display: grid;
    grid-template-areas: 
    "back textc next"
    "num num num"
    ;
    grid-template-rows: 24vw 1vw;
    grid-template-columns: 1vw 28vw 1vw;
    grid-gap: 0.5vw;
}



    .text{
        width: 28vw;
        grid-area: textc;
    }
    
    
    
    
    
    .arrow {
        padding: 11vw 0 0 0;
        width: auto;
        color:black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        
      }
      .next {
        grid-area: next;
        border-radius: 3px 0 0 3px;
      }
      .back {
        grid-area: back;
        border-radius: 3px 0 0 3px;
      }
     
      
      .arrow:hover {
        background-color: rgba(187, 187, 187, 0.75);
      }
    
      .dot {
        grid-area: num;
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }


.slider_1{
        display: grid;
        grid-template-areas: 
        "back textc next"
        "num num num"
        ;
        grid-template-rows: 18vw 1vw;
        grid-template-columns: 1vw 28vw 1vw;
        grid-gap: 0.5vw;
    }
      .text_1{
        width: 28vw;
        grid-area: textc;
        }
      .next_1 {
        grid-area: next;
        border-radius: 3px 0 0 3px;
      }
      .back_1 {
        grid-area: back;
        border-radius: 3px 0 0 3px;
      }

      .dot_1 {
        grid-area: num;
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot_1:hover {
        background-color: #717171;
      }

      .text_2{
        width: 28vw;
        grid-area: textc;
        }
      .next_2 {
        grid-area: next;
        border-radius: 3px 0 0 3px;
      }
      .back_2 {
        grid-area: back;
        border-radius: 3px 0 0 3px;
      }

      .dot_2 {
        grid-area: num;
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot_2:hover {
        background-color: #717171;
      }
     
/*
---------------------------------------------------------
IMG - стили для изображений
---------------------------------------------------------
*/

.graphics_image{
    width: 30VW;
    transition: 2s;
}
.graphics_image:hover{
    transform: scale(2);
}

.kaska{
    width: 20vw;
    margin: 2vw 0 0 0;
}

.map_image{
    width: 35vw;
    transition: 2s;
}

.map_image:hover{
    transform: scale(1.5);
   
}

.accp{
    opacity: 0.8;
    width: 25vw;
    margin: 3vw 0 0 0;
}

.warimage{
    margin: 2vw 0 0 0;
    width: 25vw;
    
}



.start_img{
    width: 3.9vw;
    margin: 0 auto;
}

.click{
    width: 3vw;
}


/*
---------------------------------------------------------
BUTTON - кнопки для вызова диологовых окн
---------------------------------------------------------
*/

.button_forNAseleniaMap{
    z-index: 10;
    width: 60%;
    margin: 1vw auto;
    padding: 0.2vw 0.2vw;
    cursor: pointer;
    background-color: #f15a24;
    border:black solid 1.5px;
    border-radius: 12px;
    font-size: 1vw;
    text-transform: uppercase;
    text-align: center;
}

.button_forNAseleniaMap:hover{
    box-shadow: 0 0 10px gray;
}


.button_forBook{
    width: 60%;
    margin: 2.8vw auto;
    padding: 0.2vw 0.2vw;
    cursor: pointer;
    background-color: #f15a24;
    border:black solid 1.5px;
    border-radius: 12px;
    font-size: 1vw;
    text-transform: uppercase;
    text-align: center;
}
.button_forBook>p{
    
    text-align: center;
}

.button_forBook:hover{
    box-shadow: 0 0 10px gray;
}



.button_fishMap{ 
    cursor: pointer;
    width: 60%;
    padding: 1vw 0;
    margin: 3vw auto 0 auto;
    background-color: #f15a24;
    border:black solid 3px;
    border-radius: 20px;
    font-size: 1.3vw;
    text-transform: uppercase;
    text-align: center;
}
.button_fishMap:hover{
    box-shadow: 0 0 50px gray;
}

.button_fishMap>p{
    text-align: center;
    margin: 0.8vw 0 0 0 ;
}




/*
---------------------------------------------------------
MODAL WINDOWS - диологовые окна
---------------------------------------------------------
*/



.modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding: 0 0 0 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll ;/* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modalWindow{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Oswald-Light";
    font-size: 1.1vw;
    position: relative;
    width: 80vw;
    margin:3vw auto;
    padding: 0;
    background-color:  #dbdbdb;
    background-image: url(../image/textured_paper.png);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modalHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modalMain{
    width: 80%;
    margin: 0 auto 2vw auto; 
    font-size: 1.3vw;
    text-align: left;
}

.modalFooter{
    margin: 4vw 0;
}

.modelWindowForPageClose {
    position: absolute;
    color: gray;
    font-size: 3vw;
    font-weight: bold;
    padding: 0 0 0 10vw;
    right: 1vw;
    top: 0;
   
}

.modelWindowForPageClose:hover,
.modelWindowForPageClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modelWindowForFishMapClose {
    position: absolute;
    color: gray;
    font-size: 3vw;
    font-weight: bold;
    padding: 0 0 0 10vw;
    right: 1vw;
    top: 0;
   
}

.modelWindowForFishMapClose:hover,
.modelWindowForFishMapClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modelWindowForPopulationMapClose {
    position: absolute;
    color: gray;
    font-size: 3vw;
    font-weight: bold;
    padding: 0 0 0 10vw;
    right: 1vw;
    top: 0;
   
}

.modelWindowForPopulationMapClose:hover,
.modelWindowForPopulationMapClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.boxForPopulatuonMap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/*
---------------------------------------------------------
***************
***************
***************

SPECL - ВЕРСТКА СПЕЦКОНТИНГЕНТА 

***************
***************
*************** 
---------------------------------------------------------
*/

#contentContainer{
    width: 100%;
}

.line{
    height: 0.5vw;
    background-color: #717171;
    width: 80%;
    margin: 0 auto;
}

.selector{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vw 0 0 0;
    width: 80%;
    margin: 0 auto;
}

 .image_item_selector{
     width: 16vw;
     transition: 1s ease-out ;

 }

 .image_item_selector:hover{
     transform: scale(1.05);
 }

.image_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 
 .marker{
    margin: 0.3vw 0 0 0; 
    width: 3vw;
 }

.select_body{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    font-family: "Oswald-Light";
    padding: 0 0 5vw 0;
    text-align: justify;
}
 
 
.image_marker{
    width: 2vw;
   
}

.fishtrud{
    margin: 0 0 0 6vw;
    width: 25vw;
    border: solid 15px #333333;
    border-radius: 25px;
}
.morefish{
    margin: 0 0 0 8vw;
    border: solid 15px #333333;
    border-radius: 25px;
}

.select_items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.butItem{
    background-image: url(../image/prid.png);
    background-position: 35% 40%;
    background-repeat: no-repeat;
    background-size: 20%;
    width: 100%;
    height: 100%;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 0 0 2vw 0 ;
    font-size: 1.3vw;
}

.textBloks23{
    width: 95%;
    margin: 0 auto;
}
    .bodyPP{
        display: flex;
        flex-direction: column;
    }
    .tetxPP{
        width: 90%;
        margin: 0 auto;
        text-align: justify;
        padding: 1vw;
        font-size: 1.8vw;
        font: bold;
    }
    .chackList{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        width: 60%;
        margin: 0 auto;
        height: 40vw;
    }
        
        .chackListItem{
            list-style: none;
            height: 8vw;
            padding: 0.5vw 1vw 0.5vw 1vw;
            background-color: #333333;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #dbdbdb;
            border-radius: 25px;
            box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

        }
        .checkitemText{
            width: 33vw;
        }   

        .checkLisyImage{
            width: 4vw;
            margin: 0 1vw 0 0;
        }

    .titleSpec{
        color: #292929;
        font-family: "Truth";
        padding: 0;
        font-size: 2.5vw;
        width: 100%;       
        margin: 0.5vw 0;
    }
    .titleSpecP
    {
        width: 67%;
        padding: 0;
        margin: 0 auto;
        text-align: unset;
        
    }

    .leftSade{
        width: 30vw;
    }
        .oldHome{
            background-image: url(../image/oldHome.jpg);
            background-position:  0 0;
            background-repeat: no-repeat;
            background-size: 100%; 
            height: 22vw;
            transition:  2s ease-in-out;
        }
        .oldHome:hover{
            transform: scale(1.37);
            box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            
        }

       
        .komendatura{
            height: 100%;
            width: 100%;
            background-color: #333333;
            background-image: url(../image/tap.png);
            background-position: center;
            background-size: 50%;
            background-repeat: no-repeat;
            opacity: 0.7;
            transition: 2s;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .komendatura:hover{
            opacity: 0;   
        }

        .komend{
            font-size: 3vw;
            color: #dbdbdb;
            font-family: 'B52';
        }

    .rightSade{
        width: 35vw;

    }    

    .imagebut{
        width: 20vw;
    }
        .audio{
            text-align: center;
            margin: -2vw 0 0.5vw 0;
            padding: 0;
            font-size: 0.8vw;
            
        }
    
    .spravca2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 35vw;
        height: 35vw;
        font-family: 'B52';
        background-image: url(../image/paper1.jpg);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        font-size: 1vw;
        margin: 0 0 0 4vw !important;
    
    }

        .sparavkaText{
            margin: 0 2vw;
        }
        .bbbut{
            width: 1vw;
            margin: 0 0.5vw;
            transition: 1s;
        }
        .bbbut:hover{
            transform: scale(1.3);
        }

        .lefth2{
            margin: 0 0 0 -10vw;
            padding: 0;
        }

        .sparavkaBut{
        width: 28vw;
        height: 30vw;
        font-family: 'B52';
        background-image: url(../image/paper1.jpg);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        font-size: 1vw;
        padding: 3vw 3vw;
        }

    .fishTextFlex{
        width: 40vw;
    }    
/*
---------------------------------------------------------
***************
***************
***************
 
DAILY - ВЕРСТКА ПОВСЕДНЕВНОСТЬ 

***************
***************
*************** 
---------------------------------------------------------
*/

#tongue{
    background-image: url(../image/longDialog.svg);
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: 20% 0;
    height: 55vw;
    width: 100%;
    font-family: "Oswald-Light";
    font-size: 1.3vw;
    margin: 2vw 0 0 0;
    
}
    .contentBox{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin:  0 2vw 0 0 ;
    }


        .containerForInformation{
            text-align: justify;
            width: 38vw;
            margin: 0 0 4vw 2vw;
        }
            .h5Tongue{
                margin: -0.25vw 0 2vw 5vw ;
                color: #797979;
                font-family: "Truth";
                padding: 0;
                font-size: 3vw;
                text-align: left;
            }

            audio{
                margin: 2vw 0;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                border-radius: 25px;
            }
 .song{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     width: 30%;
     margin: 0 auto;
 }           

    .songValoe{
        width: 4vw;
    }
 #traditions{
   
    height: 30vw;
    width: 100%;
    font-family: "Oswald-Light";
    font-size: 1.3vw;
    margin: 2vw 0 ;
 }

    #traditions>.contentBox{
        justify-content: flex-start !important;
    }

    .traditionsItems{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        padding: 0vw 0 ;
    }
            .traditionList{
               display: flex;
               flex-direction: row;
               justify-content: space-around;
               width: 100%;
               
            }
            .traditionsList{
                display: flex;
               flex-direction: row;
               justify-content: space-around;
               width: 80vw;
            }

            .traditionsListItem{
                height: 23vw;
                width: 23vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: justify;
                padding:0 1vw;
                color: #dbdbdb;
            }

                .svadba{
                    background-image: url(../image/merreg.png);
                    background-position: center;
                    background-size: 110%;

                }

                .religia{
                    background-image: url(../image/biblia.png);
                    background-position: center;
                    background-size: 110%;
                    background-repeat: no-repeat;
                    transition: 2s ease;
                    
                }

                .religia:hover{
                    transform: scale(1.2);
                }

                .traditionsListItemText{
                    transition: 2s ease;
                    width: 100%;
                    height: 10vw;
                }

                .traditionsListItemText:hover{
                    opacity: 0;
                }

                .kuhnia{
                    background-image: url(../image/kuhen.png);
                    background-position: center;
                    background-size: 100%;
                }

                .imageTraditionList{
                    padding: 0 0 0 0;
                    
                   
                    
                }
                .textTraditionList{
                    padding: 0 2vw 0 0 ;
                }
                    .imglist{
                        height: 13vw;
                        margin: 1vw;
                        transition: 1s;
                    }

                    .imglist:hover{
                        transform: scale(1.3);
                    }

#nastroenie{
    background-image: url(../image/nastroenie_3.svg);
    background-size: 47% auto;
    background-repeat: no-repeat;
    background-position: 3% 0vw;
    height: 100%;
    width: 100%;
    font-family: "Oswald-Light";
    font-size: 1.3vw;
    margin: 2vw 0 0 0;
    padding: 1vw 0 8vw 0;
}
    .h6Tongue{
        margin: 0vw 0 2vw -6.5vw ;
                color: #797979;
                font-family: "Truth";
                padding: 0;
                font-size: 3vw;
                text-align: left;
    }

        .spravka{
            z-index: 100;
            font-family: 'B52';
            font-size: 1vw;
            background-image: url(../image/paper1.jpg);
            margin: 0 0 0 27vw;
            padding: 2vw;
            width: 50vw;
            height: 30vw;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            overflow: hidden; 
            display: flex;
            flex-direction: column;
            text-align: justify;

        }

        .spravkaHeader{
            height: 2.5vw;
        }

            h6{
                color: #292929;
                font-family: "Truth";
                padding: 0;
                margin: 0;
                font-size: 2vw;
                text-align: center;
            }


        .spravkaMain{
            height: 23vw;
        }

        .spravkaFooter{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 3vw;
        }


        .openspravka{
            display: none;
            height: 50vw;
        }

            .arrow_down{
                width: 2vw;
                transition: 1s;
                
            }

            .arrow_down:hover{
                transform: scale(1.3);
            }

            .arrow_up{
                display: none;
                width: 2vw;
                transition: 1s;
            }

            .arrow_up:hover{
                transform: scale(1.3);
            }
        
    .leftText{
        width: 60%;
        margin: 2vw auto;
        text-align: justify;
    }

    .spravka1{
        text-align: justify;
        z-index: 100;
        font-family: 'B52';
        font-size: 1vw;
        background-image: url(../image/paper1.jpg);
        margin: 0 0 0 0;
        padding: 2vw;
        width: 35vw;
        height: 20vw;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
       
        

    }
