  
  
  
 @font-face{
	font-family: "Truth";
	src:url("../fonts/trud/Truth.ttf");
   }
@font-face{
    font-family: "Oswald-Light";
    src:url("../fonts/Oswald/Oswald-Light.ttf");
}

div{
    box-sizing: border-box;
}
   
body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 6vw 8fr 1fr;
    background-color: #f2f2f2;
   
}

header{
    grid-area: header;
    
}



/*
---------------------------------------------------------
MENU
---------------------------------------------------------
*/

.menu{
    padding: 0;
    font-size: 2vw;
    font-family: "Truth";
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.menu>li{
    list-style: none; 

}

.menu>li>a{
    text-decoration: none;
    color: #717171;
}

main{
    grid-area: main;
    margin:auto 10vw;
    background-color: #dbdbdb;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*
---------------------------------------------------------
H - загаловки
---------------------------------------------------------
*/

h1{
    letter-spacing: 0.3vw;
    font-size: 4vw;
    font-family: "Truth";
    text-align: center;
    margin: 0;
    padding: 0;
}

h2{
   
    font-family: "Truth";
    padding: 0;
    font-size: 2.5vw;
    text-align: center;
   
}

h3{
    font-family: "Truth";
    padding: 0 2.5vw 0 3vw;
    font-size: 1.5vw; 
    text-align: center;
}


/*
---------------------------------------------------------
MAIN - главный контейнер для контента
---------------------------------------------------------
*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
---------------------------------------------------------
SECTIONS AND DIV- БЛОКИ С КОНТЕНТОМ ТАЙМЛАЙНА
---------------------------------------------------------
*/


#data1900{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .title{
        width: 100%;
        height: 11vw;
        background-position: center center;
        background-size: 85% auto;
        background-repeat: no-repeat;
        display: flex;
        
    }
    .title1900{
        background-image: url('../image/1900.svg');
    }

        .titels_left_rigth_defolt{
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content:  space-around;   
            align-items: center; 
            width: 90%;
            margin: 0 auto;
        }

            .titels_left_rigth_defolt>li{
                text-decoration: none;
                list-style: none;
                width: 18vw;       
            }
                .left{
                    text-align: left !important;
                }

    .content{
        width: 100%;
        height: 29vw;
        background-image: url('../image/longline.svg');
        background-position: center;
        background-size: 5.2% auto;
        background-repeat: no-repeat;
        font-family: "Oswald-Light";
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        
        .left_sade.rigth_sade{
           
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
            .first_text{
                margin: 0 0 0 2vw;
                width: 28vw;
                z-index: 1;
                font-size: 1.3vw;
            }

            .plusbackground{
                background-image: url('../image/soviet.png');
                background-position: left 28% top 20%;
                background-size: 35% auto;
                background-repeat: no-repeat;
                
                
            }

            .second_text{
                margin: 0 2vw 0 0;
                width: 28vw;
                
                font-size: 1.3vw;
            }
                .centr{
                    text-align: center;
                    margin: 0;
                }



#data1914{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .title1914{
        background-image: url('../image/1914_title_1.svg');
    }

#data1917{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .title1917
    {
        background-image: url('../image/1917_title.svg');    
    }

#data1930{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    
    .title1930
    {
        background-image: url('../image/1930.svg');
    }

    #data1930>.content{
        background-image: url('../image/twoinone.svg');
    }


#data194145{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
    .title194145
    {
        background-image: url('../image/1941_45_title.svg'); 
    }

        .for_fishMap{
            background-image: url('../image/map_fon.png');
            background-size: 90% auto;
            background-position: center center;
            height: 27vw;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    #data194145>.content{
        background-image: url('../image/lsingl_logline.svg');
        background-size: 2.2% auto;
    }

    iframe{
        width: 30vw;
        height: 17vw;
        border: solid 5px #999999;
    }

#data1953{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
    
    .title1953{
        background-image: url('../image/1953_title.svg');
    }
    
    #data1953>.content{
        background-image: url('../image/longlongline_1.svg');
        background-size: 2.2% auto;
        height: 44.7vw;
    }
    
    
#data1991{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    }
    
      
      .title1991{
        background-image: url('../image/1991_title.svg');
        
        }
        
    #data1991>.content{
        background-image: url('../image/twoinone_revers.svg');
    }
    
      
      
      
    
    footer{
        grid-area: footer;
    }
    
/*
---------------------------------------------------------
SLAIDER - верстка слайдеров
---------------------------------------------------------
*/

.slider{
    display: grid;
    grid-template-areas: 
    "back textc next"
    "num num num"
    ;
    grid-template-rows: 24vw 1vw;
    grid-template-columns: 1vw 28vw 1vw;
    grid-gap: 0.5vw;
}



    .text{
        width: 28vw;
        grid-area: textc;
    }
    
    
    
    
    
    .arrow {
        padding: 11vw 0 0 0;
        width: auto;
        color:black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        
      }
      .next {
        grid-area: next;
        border-radius: 3px 0 0 3px;
      }
      .back {
        grid-area: back;
        border-radius: 3px 0 0 3px;
      }
     
      
      .arrow:hover {
        background-color: rgba(187, 187, 187, 0.75);
      }
    
      .dot {
        grid-area: num;
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }


.slider_1{
        display: grid;
        grid-template-areas: 
        "back textc next"
        "num num num"
        ;
        grid-template-rows: 18vw 1vw;
        grid-template-columns: 1vw 28vw 1vw;
        grid-gap: 0.5vw;
    }
      .text_1{
        width: 28vw;
        grid-area: textc;
        }
      .next_1 {
        grid-area: next;
        border-radius: 3px 0 0 3px;
      }
      .back_1 {
        grid-area: back;
        border-radius: 3px 0 0 3px;
      }

      .dot_1 {
        grid-area: num;
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot_1:hover {
        background-color: #717171;
      }

      .text_2{
        width: 28vw;
        grid-area: textc;
        }
      .next_2 {
        grid-area: next;
        border-radius: 3px 0 0 3px;
      }
      .back_2 {
        grid-area: back;
        border-radius: 3px 0 0 3px;
      }

      .dot_2 {
        grid-area: num;
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot_2:hover {
        background-color: #717171;
      }
     
/*
---------------------------------------------------------
IMG - стили для изображений
---------------------------------------------------------
*/

.graphics_image{
    width: 30VW;
    
}

.kaska{
    width: 20vw;
    margin: 2vw 0 0 0;
}

.map_image{
    width: 35vw;
}

.accp{
    opacity: 0.8;
    width: 25vw;
    margin: 3vw 0 0 0;
}

.warimage{
    margin: 2vw 0 0 0;
    width: 25vw;
    
}



.start_img{
    width: 3.9vw;
    margin: 0 auto;
}


/*
---------------------------------------------------------
BUTTON - кнопки для вызова диологовых окн
---------------------------------------------------------
*/

.button_forNAseleniaMap{
    z-index: 10;
    width: 60%;
    margin: 1vw auto;
    padding: 0.2vw 0.2vw;
    cursor: pointer;
    background-color: #f15a24;
    border:black solid 1.5px;
    border-radius: 12px;
    font-size: 1vw;
    text-transform: uppercase;
    text-align: center;
}

.button_forNAseleniaMap:hover{
    box-shadow: 0 0 10px gray;
}


.button_forBook{
    width: 60%;
    margin: 2.8vw auto;
    padding: 0.2vw 0.2vw;
    cursor: pointer;
    background-color: #f15a24;
    border:black solid 1.5px;
    border-radius: 12px;
    font-size: 1vw;
    text-transform: uppercase;
    text-align: center;
}
.button_forBook>p{
    
    text-align: center;
}

.button_forBook:hover{
    box-shadow: 0 0 10px gray;
}



.button_fishMap{ 
    cursor: pointer;
    width: 60%;
    padding: 1vw 0;
    margin: 3vw auto 0 auto;
    background-color: #f15a24;
    border:black solid 3px;
    border-radius: 20px;
    font-size: 1.3vw;
    text-transform: uppercase;
    text-align: center;
}
.button_fishMap:hover{
    box-shadow: 0 0 50px gray;
}

.button_fishMap>p{
    text-align: center;
    margin: 0.8vw 0 0 0 ;
}




/*
---------------------------------------------------------
MODAL WINDOWS - диологовые окна
---------------------------------------------------------
*/


.modelWindowFishMap{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding: 1.5vw 0 0 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll ;/* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.model_container_fishmap{
    position: relative;
    width: 80vw;
    height: 45vw;
    margin: auto;
    padding: 0;
    background-color:  #dbdbdb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: gray;
    font-size: 3vw;
    font-weight: bold;
    margin: 0 0 0 22vw;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.main_fishmap{
    display: grid;
    grid-template-areas: 
    "map item"
    ;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr;
}

.fishmap{
    grid-area: map;
}

.map{
    width: 45vw;
}

.items_fishmap{
    grid-area: item;
}
.target{
    position: absolute;
    font-size: 2vw;
    top:20vw;
    left:20vw;
}

.modalWindowPopulation{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding: 3vw 0 0 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll ;/* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal_container_population{

    position: relative;
    width: 80vw;
    height: 40vw;
    margin: auto;
    padding: 0;
    background-color:  #dbdbdb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.main_population{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.modalBook{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding: 0 0 0 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll ;/* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modalBook_modal{
    font-family: "Oswald-Light";
    font-size: 1.1vw;
    position: relative;
    width: 80vw;
    margin: auto;
    padding: 0;
    background-color:  #dbdbdb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.main_book{
    width: 80%;
    margin: 0 auto;
    
}

.footer_book{
    height: 3vw;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.p_close {
    color: gray;
    font-size: 3vw;
    font-weight: bold;
    margin: 0 0 0 77vw;
}

.p_close:hover,
.p_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}








.st0{
    
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    background-color: rebeccapurple;
}

svg{
    position:absolute;
}


/*
спецконтенгент верстка
*/
.line{
    height: 0.5vw;
    background-color: #717171;
    width: 80%;
    margin: 0 auto;
}

.selector{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vw 0 0 0;
    width: 80%;
    margin: 0 auto;
}

 .image_item_selector{
     width: 16vw;
 }

.image_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 
 .marker{
    margin: 0.3vw 0 0 0; 
    width: 3vw;
 }

.select_body{
    width: 72%;
    margin: 0 auto;
    height: 80vw;
    font-family: "Oswald-Light";

}
 


 
.image_marker{
    width: 2vw;
   
}


.select_items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

